@import "abstracts/variables";

.todo-container {
    display: flex;
    align-items: center;
    justify-content: space-between;
    color: $text-color;
    &--done {
        color: $text-light-color;
    }
    &__text{
        overflow: hidden;
        text-overflow: ellipsis;
        white-space: break-word;
        -webkit-line-clamp: 1;
    }
    &__controls-container {
        display: flex;
        align-items: center;
        justify-content: space-between;
        .control {
            margin: 0 4px;
        }
    }
}
